[kdcdefaults]
  kdc_ports = 88
  kdc_tcp_ports = 88
  kadmind_port = 749

[realms]
  example.com = {
   database_module = openldap_ldapconf
   master_key_type = aes128-cts
   acl_file = /var/kerberos/krb5kdc/kadm5.acl
   dict_file = /usr/share/dict/words
   admin_keytab = /var/kerberos/krb5kdc/kadm5.keytab
   max_life = 10h 0m 0s
   max_renewable_life = 7d 0h 0m 0s
   #master_key_type = aes256-cts
   supported_enctypes = aes256-cts:normal aes128-cts:normal des3-hmac-sha1:normal arcfour-hmac:normal camellia256-cts:normal camellia128-cts:normal des-hmac-sha1:normal des-cbc-md5:normal des-cbc-crc:normal
  }

[dbdefaults]
  ldap_kerberos_container_dn = {{ldap_kerberos_container_dn}}

[dbmodules]
  openldap_ldapconf = {
    db_library = kldap
    ldap_servers = {{ldap_hosts}}
    ldap_kerberos_container_dn = {{ldap_kerberos_container_dn}}
    ldap_kdc_dn = {{ldap_kdc_dn}}
    ldap_kadmind_dn = {{ldap_kadmind_dn}}
    ldap_service_password_file = /var/kerberos/krb5kdc/service.keyfile
    ldap_conns_per_server = 5
  }
