JAVA_HOME="{{java_home}}"
METRON_HOME="{{metron_home}}"
METRON_REST_PORT={{metron_rest_port}}
METRON_JVMFLAGS="{{metron_jvm_flags}}"
METRON_SPRING_PROFILES_ACTIVE="{{metron_spring_profiles_active}}"
METRON_JDBC_DRIVER="{{metron_jdbc_driver}}"
METRON_JDBC_URL="{{metron_jdbc_url}}"
METRON_JDBC_USERNAME="{{metron_jdbc_username}}"
METRON_JDBC_PLATFORM="{{metron_jdbc_platform}}"
METRON_JDBC_CLIENT_PATH="{{metron_jdbc_client_path}}"
METRON_TEMP_GROK_PATH="{{metron_temp_grok_path}}"
METRON_SPRING_OPTIONS="{{metron_spring_options}}"
ZOOKEEPER="{{zookeeper_quorum}}"
BROKERLIST="{{kafka_brokers}}"
HADOOP_CONF_DIR="/etc/hadoop/"
STORM_REST_URL="{{storm_rest_addr}}"
SECURITY_ENABLED={{security_enabled|lower}}
{% if metron_principal_name is defined %}METRON_PRINCIPAL_NAME="{{metron_principal_name}}"
{% endif %}
{% if metron_keytab_path is defined %}METRON_SERVICE_KEYTAB="{{metron_keytab_path}}"
{% endif %}
KAFKA_SECURITY_PROTOCOL="{{kafka_security_protocol}}"
PARSER_TOPOLOGY_OPTIONS="/home/{{metron_user}}/.storm/storm.config"
METRON_ESCALATION_TOPIC="{{metron_escalation_topic}}"
