<?xml version="1.0"?>
<Configuration monitorinterval="30" status="info" strict="true">
    <Properties>
        <Property name="filename">{{infra_solr_metrics_log_dir}}/infra-solr-metrics.log</Property>
    </Properties>
    <Appenders>
        <Appender type="Console" name="Console">
          <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg%n" />
        </Appender>
        <RollingFile name="File" fileName="${filename}" filePattern="${filename}-%i-%d{yyyy-MM-dd}">
           <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg%n" />
           <Policies>
             <TimeBasedTriggeringPolicy />
             <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
          <AppenderRef ref="File" />
          <AppenderRef ref="Console" />
        </Root>
        <Logger name="org.apache.ambari.solr.metrics" level="debug" additivity="false">
          <AppenderRef ref="File" level="debug"/>
        </Logger>
    </Loggers>
</Configuration>